[init]
    defaultBranch = main
[core]
    autocrlf = input
    safecrlf = warn
    excludesFile = {{ .chezmoi.homeDir }}/.config/git/ignore
{{- if lookPath "delta" }}
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    line-numbers = true
{{- end }}
[color]
    ui = auto
[pull]
    ff = only
[push]
    autoSetupRemote = true
[merge]
    conflictStyle = zdiff3
[include]
    path = ~/.config/git/local
